# ╭──────────────────────────────╮
# │        AMBIENTE PYTHON       │
# ╰──────────────────────────────╯
__pycache__/
.pytest_cache/
.mypy_cache/
.env
.venv/
env/
my_env/

# ╭──────────────────────────────╮
# │         ARQUIVOS DVC         │
# ╰──────────────────────────────╯
.dvc/cache/
.dvc/tmp/
!.dvc/

# ╭──────────────────────────────╮
# │     DADOS IGNORADOS (RAW)    │
# ╰──────────────────────────────╯
datasets/

# ╭──────────────────────────────╮
# │        SAÍDAS DO YOLO        │
# ╰──────────────────────────────╯
runs/
train/
detect/

# ╭──────────────────────────────╮
# │         MODELOS PESADOS      │
# ╰──────────────────────────────╯
*.pt
*.onnx
# *.zip
*.tar
